body{
    background-color: #222;
    color: white;
}

.jumbotron{
    background-color:  #375a7f;
}

#header-mid{
    text-align: center;
    font-family: 'Lilita One', cursive;
}
#color-override{
    font-family: 'Lilita One', cursive;
    font-family: 'Poppins', sans-serif;
}
#lefthead{
    background-color: rgb(0, 188, 140);
    color: white;
    padding: 10px;
    font-family: 'Lilita One', cursive;
    font-family: 'Poppins', sans-serif;
}
#righthead{
    background-color: #303030;
    color: white;
    padding: 10px;
    font-family: 'Lilita One', cursive;
    font-family: 'Poppins', sans-serif;
}